<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Mario's Specialty Foods</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Products', 'products#index' %>
      </li>
      <li id="user_auth">
        <% if current_user %>
          <%= current_user.email %> | <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>