<h1><%= @product.name %></h1>

<% if @product.reviews.any? %>
  <h4><%= @product.reviews.count%> Reviews: </h4>

  <% @product.reviews.each do |review| %>
    <div class="col-sm-6">
      <div class="card reviews">
        <div class="card-body">
          <h5 class="card-title">Reviewed by: <%= review.author %> Rating: <%= review.rating %>/5</h5>
          <p class="card-text"><%= review.content_body%></p>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>There are no reviews for this product.</p>
<% end %>

<div>
  <% if current_user %>
    <p><%= link_to "Add a review", new_product_review_path(@product, @review) %></p>
  <% else %>
  <p>If you would like to leave a review, you must first sign in.</p>
  <% end %>

  <% if current_user&.admin? %>
    <p><%= link_to "Edit product", edit_product_path(@product) %></p>
    <p><%= link_to "Delete product", product_path(@product),
                            :data => {:confirm => "Are you sure?",
                                      :method => "delete"} %></p>
  <% end %>                                    

  <p><%= link_to "Return to products", products_path %></p>
</div>



