<h1><%= @product.name %></h1>

<% if @product.reviews.any? %>
  <h4><%= @product.reviews.count%> Reviews: </h4>

  <% @product.reviews.each do |review| %>
    <p>
      Reviewer: <%= review.author %> 
      Rating: <%= review.rating %>/5 <br>
      Review: <%= review.content_body%>
    </p>
    <br>
  <% end %>
<% else %>
  <p>There are no reviews for this product.</p>
<% end %>

<p><%= link_to "Add a review", new_product_review_path(@product, @review) %></p>

<p><%= link_to "Edit product", edit_product_path(@product) %></p>
<p><%= link_to "Delete product", product_path(@product),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to products", products_path %></p>
