<h1>Add a new review</h1>

<%= render "layouts/errors", :object => @review %>
<%= form_for [@product, @review] do |f| %>
  <%= f.label :author, style: 'display:none' %>
  <%= f.text_field :author, value: current_user.email, style: 'display:none' %>
  <%= f.label :rating %>
  <%= f.select(:rating, options_for_select(1..5)) %>
  <%= f.label "Review" %>
  <%= f.text_area :content_body %>
  <%= f.submit %>
<% end %>

